<!DOCTYPE html>

<html>
    <head>
        <title>Curious Ningen</title>
        <link rel="stylesheet" href="login.css">    
        <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="index/cnicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='index/cnicon.ico') }}" />
    </head>

    <body>
        <div class="login-page">
            <!-- <p class="welcometext">人間</p> -->
            <p class="welcometext">Welcome to Curious Ningen!</p>
            <div class="form">
                <form class="register-form" name="frm" action="http://127.0.0.1:5000/url" method="POST">
                    <input type="text" name="usernamer" placeholder="Username" required/>
                    <input type="password" name="passwordr" placeholder="Password" required/>
                    <input type="text" name="emailr" placeholder="Email id" required/>
                    <button type="submit" value="submit" onclick="return val()">Join</button>
                    <p class="message">Already a member? <a href="#">Login</a></p>
                </form>

                <form class="login-form" name="rform" action="http://127.0.0.1:5000/login" method="POST">
                    <input type="text" name="usernamel" placeholder="Username" required/>
                    <input type="password" name="passwordl" placeholder="Password" required/>
                    <button>Login　人間</button>
                    <p class="message">Not a member? <a href="#">Register</a></p>
                </form>
                <!-- <a href="index.html">
                    <button class="btn" style="margin-top:10px;">Proceed</button>
                </a> -->

            </div>
        </div>
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script type="text/javascript">
            function val(){
                if(frm.emailr.value==""){
                    alert("Enter the details correctly.");
                    frm.emailr.focus();
                    return false;
                }
            var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            
            if (reg.test(frm.emailr.value) == false){
                alert("Invalid email. Enter again!");
                frm.emailr.focus();
                return false;
            }
            return true;    
            }

            $('.message a').click(function(){
                $('form').animate({height: "toggle",opacity:"toggle"},"fast")
            });
        </script>
    </body>
</html>